{% extends "../base.html" %}
{% load static %}
{% block title %}Basket Summary{% endblock %}

{% block content %}
<main class="pt-5">
    <div class="container">
      {% if basket|length == 0 %}
        <div class="col-12">you basket in empty <a href="{% url 'Shop:home' %}">Home</a></div>
      {% else %}
      <h1 class="h5">Shopping basket</h1>
        {% for item in basket %}
          {% with product=item.product %}
          <div data-index="{{product.id}}" class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first bg-light">
              <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
              <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                <h1 class="h5 pt-2">{{ product.title }}</h1>
              </a>
              <div class="border">
                <div class="col border-bottom">
                  <div class="row p-3">
                    <div class="col-6">Hardback Book</div>
                    <div class="col-6 text-end"><span class="h6 fw-bold"><small>MX </small> ${{ product.price }}</span></div>
                  </div>
                </div>
                <div class="col">
                  <div class="row p-3">
                    <div class="col-12">
                        <button type="button" id="delete-button" data-index="{{product.id}}" class="btn btn-outline-secondary btn-sm delete-button">Delete</button>
                        <a role="button" href="" class="btn btn-success fw-bold" type="button">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
        {% endfor %}
      {% endif %}
      <div class="col-12 text-end">
        <div class="h6 fw-bold">Sub Total: MX<div id="subtotal" class="d-inline-flex">{{basket.get_total_price}}</div></div>
      </div>
    </div>
</main>

<!--
<script>
    $(document).on('click', '#delete-button', function (e) {       // function the someone clicked the button add-button
        e.preventDefault();
        $.ajax({                                                // ajax requets, send & return data to server
            type: 'POST',                                       // what type of request is it
            url: '{% url "basket:basket_delete" %}',               // send data to basket:basket_add
            data: {                                             // dta that gets send
                productid: $('#add-button').val(),              // grab the value 
                csrfmiddlewaretoken: "{{csrf_token}}",          // send csrf token
                action: 'post'
            },
            success: function (json) {                          // responce if success
            },
            error: function (xhr, errmsg, err) {}               // responce if error
        });
    })
</script>

-->


<script>
  // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_delete" %}',
      data: {
        productid: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("basket-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Update Item
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_update" %}',
      data: {
        productid: $(this).data('index'),
        productqty: $('#select' + prodid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty
        document.getElementById("subtotal").innerHTML = json.subtotal
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>
{% endblock %}